/*
  css stylsheet v1

 
   creator: Azariel Gaspar
   Date:   3/4/2025

   Filename: stylesheet3.css 
   
   
*/






.page {
    background-color: lightblue;
}

.blue {
  background-color: blue;
}
.red {
  background-color: red;
}
.pink {
  background-color: pink;
}
.green {
  background-color: green;
}
.cyan {
  background-color: cyan;
}
.orange {
  background-color: orange;
}
.black {
  background-color: black;
}
.grey {
  background-color: grey;
}
.yellow {
  background-color: yellow;
}
.magenta {
  background-color: magenta;
}
.darkblue {
  background-color: darkblue;
}
.darkred {
  background-color: darkred;
}
.darkgreen {
  background-color: darkgreen;
}
.darkgrey {
  background-color: darkgrey;
}
.darkmagenta {
  background-color: darkmagenta;
}
.darkorange {
  background-color: darkorange;
}
.darkcyan {
  background-color: darkcyan;
}
.darkkhaki {
  background-color: darkkhaki;
}
.khaki {
background-color: khaki;
}
.antiquewhite {
  background-color: antiquewhite;
}
.white {
  background-color: white;
}
